/* dancing-script-regular - latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('../font/dancing-script-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Dancing Script Regular'), local('DancingScript-Regular'),
    url('../font/dancing-script-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/dancing-script-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/dancing-script-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../font/dancing-script-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/dancing-script-v9-latin-regular.svg#DancingScript') format('svg'); /* Legacy iOS */
}

/* stylish-regular - latin */
@font-face {
    font-family: 'Stylish';
    font-style: normal;
    font-weight: 400;
    src: url('../font/stylish-v2-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Stylish Regular'), local('Stylish-Regular'),
    url('../font/stylish-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/stylish-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/stylish-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../font/stylish-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/stylish-v2-latin-regular.svg#Stylish') format('svg'); /* Legacy iOS */
}